<% provide(:button_text, 'Add New User') %>
<h1 class="text-center">Add New User</h1>
<div class="row">
  <%= link_to 'Show All', show_path %>
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div
